@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.container {
    width: 300px; /* Ajuste de ancho para mantener el formulario pequeño */
    padding: 20px; /* Ajuste de padding */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px; /* Ajuste de fuente */
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    width: 100%;
}

input[type="text"], select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

/* Para que las opciones estén una al lado de la otra */
.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

/* Estilo para alinear respuestas y radio buttons en la misma línea */
.answer-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #3B4F54;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
}

button:hover {
    background-color: #2c3e50;
}

.buttonBack {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(69, 90, 100, 0.9);
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.buttonBack:hover {
    background-color: #3B4F54;
}
