body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
    background-image: url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felixmittermeier-956999.jpg&fm=jpg'); /* Cambiar esta URL por una imagen de fondo de tu elección */
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
}
h1 {
    text-align: center;
    color:  #fdfefe ;
    margin-top: 20px;
}
h2 {
    margin-top: 20px;
    color: #eaeded; 
}
h3 {
    margin-top: 20px;
    color: #aeb6bf ;
}        
p {
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
ul {
    list-style-type: disc;
    padding-left: 40px;
}
.fact-box {
    background-color: rgba(34, 139, 34, 0.7);
    border-left: 4px solid #76b041;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.important-date {
    color: #d9534f;
}