        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
            background-size: cover;
            font-family: Arial, sans-serif;
            color: #fff;
            position: relative;
        }

        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 0;
        }

        .container {
            width: 80%;
            max-width: 800px;
            padding: 40px;
            border-radius: 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
        }

        .button-grid {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        
        .button-grid form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }

        .button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        .button img {
            width: 100px;
            height: 100px;
        }

        .button:hover img {
            transform: scale(1.1);
        }

        .button-label {
            margin-top: 10px;
            font-size: 18px;
            color: #fff;
        }

        .buttonBack {
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            background-color: #0E2087;
            color: white;
            border-radius: 30px;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease-in-out;
        }

        .buttonBack:hover {
            background-color: #0A1567;
        }

        h2 {
            font-size: 48px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            color: #fff;
        }