      body {
          font-family: Montserrat, sans-serif;
          background-image: url('https://c.wallhere.com/photos/41/26/1920x1080_px_Cartoon_humor_solar_system-1197876.jpg!d');
          background-size: cover;
          background-position: center;
          margin: 0;
          padding: 0;
          height: 100vh;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          flex-direction: column;
      }
      .planet-label {
          position: absolute;
          color: white;
          font-weight: bold;
          text-align: center;
      }
      .button {
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          background-color: #0E2087; /* Background gradient start color */
          color: white;
          border-radius: 30px;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
      }

      .button:hover {
          background-color: #0C1B6D; /* Darker shade for hover effect */
      }