<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="styles/ranking.css">
        <title>Add question in normal mode</title>
    </head>
    <body>
        <div class="container">
            
        </div>

        <form method="post">
            <input type="hidden" name="back">
            <button type="submit" class="buttonBack"><i class="fas fa-arrow-left"></i> Back</button>
        </form>
    </body>
</html>