<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth - Level 1</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }

        .button-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            text-align: center;
        }

        .button {
            padding: 20px;
            border: 2px double #000;
            background-color: #f0f0f0;
            font-size: 24px;
            width: 150px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="button-grid">
        <% if session[:currentQuestion] %>
            <% question_id = session[:currentQuestion] %>
            <% question = Question.find_by(id: question_id) %>
            <% if question %>
                <h2><%= question.description %></h2>
                <% question.answers.each_with_index do |answer, index| %>
                    <form method="post">
                        <input type="hidden" name="button" value="<%= answer.id %>">
                        <button type="submit" class="button">Botón <%= index +1 %>: <%= answer.description %></button>
                    </form>
                <% end %>
            <% else %>
                <p>Pregunta no encontrada</p>
            <% end %>
        <% else %>
            <p>No hay una pregunta actual en la sesión</p>
        <% end %>
    </div>
</body>
</html>
