<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Fin del Time Trial</title>
  <link rel="stylesheet" type="text/css" href="styles/timeTrial.css">
</head>
<body>
  <div class="time-trial-container">
    <h1>¡Juego terminado!</h1>
    <br>
    <p>Tu tiempo total fue: <%= @total_time %> segundos.</p>
    <br>
    <form method="POST">
      <button name="backToMenu" type="submit" class="button">Volver al Menú Principal</button>
    </form>
  </div>
</body>
</html>
