<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/mainMenu.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    
    .button.dropdown::after {
      content: '\25BC'; 
      margin-left: 10px;
      font-size: 10px;
    }

    
    #ranking-options {
      margin-left: 28px; 
    }

    #ranking-options .button {
      font-size: 0.7em; 
      padding: 8px;     
    }

    #rankingQuestions-options {
      margin-left: 28px; 
    }

    #rankingQuestions-options .button {
      font-size: 0.7em; 
      padding: 8px;     
    }

  </style>
</head>
<body>
  <audio id="background-audio" autoplay loop>
    <source src="/musicLobby.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <h2>ASTROLEDGE</h2>
  <h5>Learning astronomy has never been so fun...</h5>
  <img src="https://images.vexels.com/media/users/3/150030/isolated/preview/21f6aa2ebb5547cb55eab996913e3007-ilustracion-de-nave-espacial.png" alt="Spaceship" class="spaceship">
  <div class="sidebar">
    <div>
      <div class="toggle-button" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </div>
      <div class="button-grid">
        <form method="post">
          <input type="hidden" name="solarSystem">
          <button type="submit" class="button"><i class="fas fa-globe"></i> <span>Solar System</span></button>
        </form>
        <form method="post">
          <input type="hidden" name="timeTrial">
          <button type="submit" class="button"><i class="fas fa-clock"></i> <span>Time trial</span></button>
        </form>
        <form method="post">
          <input type="hidden" name="ranking">
          <button type="button" class="button dropdown" onclick="showRankingOptions()"><i class="fas fa-trophy"></i> <span>Ranking</span></button>
        </form>
        <div id="ranking-options" style="display:none;">
          <form method="post">
            <input type="hidden" name="ranking">
            <button type="submit" class="button"><i class="fas fa-award"></i></i> <span>Regular Ranking</span></button>
          </form>
          <form method="post">
            <input type="hidden" name="timeTrialRanking">
            <button type="submit" class="button"><i class="fas fa-medal"></i></i> <span>TimeTrial Ranking</span></button>
          </form>
        </div>
        <form method="post">
          <% user = User.find_by(id: session[:user_id])%>
          <% if user.see_correct %>
            <input type="hidden" name="see_correct">
            <button type="submit" class="button"><i class="fas fa-eye-slash"></i> <span>Disable see correct answer</span></button>
          <% else %>
            <input type="hidden" name="see_correct">
            <button type="submit" class="button"><i class="fas fa-eye"></i> <span>Enable see correct answer</span></button>
          <% end %>
        </form>
        <form method="post">
          <input type="hidden" name="learn">
          <button type="submit" class="button"><i class="fas fa-book"></i> <span>Learn</span></button>
        </form>
        <%if user.is_admin%>
          <form method="post">
            <input type="hidden" name="addQuestion">
            <button type="submit" class="button"><i class="fas fa-pen"></i><span>Add question</span></button>
          </form>
          <form method="post">
            <input type="hidden" name="rankingQuestions">
            <button type="button" class="button dropdown" onclick="showRankingQuestionsOptions()"><i class="far fa-star"></i><span>Ranking of questions</span></button>
          </form>
          <div id="rankingQuestions-options" style="display:none;">
            <form method="post">
              <input type="hidden" name="rankingQuestions">
              <button type="submit" class="button"><i class="fas fa-award"></i></i><span>Correctly answered</span></button>
            </form>
            <form method="post">
              <input type="hidden" name="rankingQuestionsIncorrectly">
              <button type="submit" class="button"><i class="fas fa-medal"></i></i><span>Answered incorrectly</span></button>
            </form>
          </div>
        <%end%>
      </div>
    </div>
    <form method="post">
      <input type="hidden" name="logout">
      <button type="submit" class="button"><i class="fas fa-sign-out-alt"></i> <span>Log out</span></button>
    </form>
  </div>
  <script>
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('expanded');
    }

    function showRankingOptions() {
      const rankingOptions = document.getElementById('ranking-options');
      rankingOptions.style.display = rankingOptions.style.display === 'none' ? 'block' : 'none';
    }

    function showRankingQuestionsOptions() {
      const rankingQuestionsOptions = document.getElementById('rankingQuestions-options');
      rankingQuestionsOptions.style.display = rankingQuestionsOptions.style.display === 'none' ? 'block' : 'none';
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      const audio = document.getElementById('background-audio');
      audio.volume = 0.1;

      // Retrieve the playback time from localStorage
      const savedTime = localStorage.getItem('audioTime');
      if (savedTime) {
        audio.currentTime = savedTime;
      }

      // Save the playback time periodically
      setInterval(() => {
        localStorage.setItem('audioTime', audio.currentTime);
      }, 1000);
    });
  </script>
</body>
</html>