<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/mainMenu.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <audio id="background-audio" autoplay loop>
    <source src="/musicLobby.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <h2>ASTROLEDGE</h2>
  <h5>Learning astronomy has never been so fun...</h5>
  <img src="https://images.vexels.com/media/users/3/150030/isolated/preview/21f6aa2ebb5547cb55eab996913e3007-ilustracion-de-nave-espacial.png" alt="Spaceship" class="spaceship">
  <div class="sidebar">
    <div>
      <div class="toggle-button" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
      </div>
      <div class="button-grid">
        <form method="post">
          <input type="hidden" name="solarSystem">
          <button type="submit" class="button"><i class="fas fa-globe"></i> <span>Solar System</span></button>
        </form>
        <form method="post">
          <input type="hidden" name="ranking">
          <button type="submit" class="button"><i class="fas fa-trophy"></i> <span>Ranking</span></button>
        </form>
        <form method="post">
          <% user = User.find_by(id: session[:user_id])%>
          <% if user.see_correct %>
            <input type="hidden" name="see_correct">
            <button type="submit" class="button"><i class="fas fa-eye-slash"></i> <span>Disable see correct answer</span></button>
          <% else %>
            <input type="hidden" name="see_correct">
            <button type="submit" class="button"><i class="fas fa-eye"></i> <span>Enable see correct answer</span></button>
          <% end %>
        </form>
        <form method="post">
          <input type="hidden" name="learn">
          <button type="submit" class="button"><i class="fas fa-book"></i> <span>Learn</span></button>
        </form>
      </div>
    </div>
    <form method="post">
      <input type="hidden" name="logout">
      <button type="submit" class="button"><i class="fas fa-sign-out-alt"></i> <span>Log out</span></button>
    </form>
  </div>
  <script>
    function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('expanded');
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      const audio = document.getElementById('background-audio');
      audio.volume = 0.1;

      // Retrieve the playback time from localStorage
      const savedTime = localStorage.getItem('audioTime');
      if (savedTime) {
        audio.currentTime = savedTime;
      }

      // Save the playback time periodically
      setInterval(() => {
        localStorage.setItem('audioTime', audio.currentTime);
      }, 1000);
    });
    
  </script>
</body>
</html>
