<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
      body {
          font-family: Montserrat, sans-serif;
          margin: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; /* Reemplaza con una URL válida */
          background-size: cover;
          color: #fff; /* Texto blanco para mejor contraste */
          position: relative;
      }

      body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3); /* Degradado oscuro */
          z-index: 0;
      }

      .container {
          width: 80%; /* Ocupa el 80% de la pantalla */
          max-width: 800px;
          padding: 40px;
          border-radius: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
          margin-top: 50px; /* Agregado para que el título esté en la parte superior */
      }

      .button-grid {
          display: flex;
          flex-direction: column; /* Cambiado para que los botones estén en vertical */
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;
      }
      .button-grid form {
          margin-bottom: 20px; /* Agregado para separar los botones */
      }
      .button {
          padding: 15px 30px; /* Aumentado el tamaño de los botones */
          font-size: 18px;
          cursor: pointer;
          border: none;
          border-radius: 30px;
          background-color: #455A64; /* Azul grisáceo */
          color: white;
          transition: background-color 0.3s ease-in-out;
      }

      .button:hover {
          background-color: #3B4F54; /* Azul grisáceo oscuro */
      }

      .buttonBack {
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          background-color: #455A64; /* Azul grisáceo */
          color: white;
          border-radius: 30px;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
      }

      .buttonBack:hover {
          background-color: #3B4F54; /* Azul grisáceo oscuro */
      }

      h2 {
          font-size: 48px;
          margin-top: 0;
          margin-bottom: 20px;
          color: white;
          position: absolute; /* Agregado para que el título esté en la parte superior */
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
      }

      p {
          font-size: 24px;
          color: #fff;
      }
  </style>
</head>
<body>
<h2>ASTROLEDGE</h2>
<div class="container">
  <div class="button-grid">
    <form method="post">
      <input type="hidden" name="solarSystem">
      <button type="submit" class="button">Solar System</button>
    </form>
    <form method="post">
      <input type="hidden" name="ranking">
      <button type="submit" class="button">Ranking</button>
    </form>
    <form method="post">
      <% user = User.find_by(id: session[:user_id])%>
      <%if user.see_correct %>
        <input type="hidden" name="see_correct">
        <button type="submit" class="button">Disable see correct answer</button>
      <%else%>
        <input type="hidden" name="see_correct">
        <button type="submit" class="button">Enable see correct answer</button>
      <%end%>
    </form>
    <form method="post">
      <input type="hidden" name="learn">
      <button type="submit" class="button learn buttonLearn">Learn</button>
    </form>
  </div>
</div>
<form method="post">
  <input type="hidden" name="logout">
  <button type="submit" class="buttonBack">Log out</button>
</form>
</body>
</html>