<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" type="text/css" href="styles/menu.css">
<head>
  <title>Astroledge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <audio id="background-audio" autoplay loop>
    <source src="/astroledge.mp3" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  <nav>
    <a href="/login" target="" rel="noopener noreferrer"><i class="fas fa-sign-in-alt"></i>Login</a>
    <a href="/register" target="" rel="noopener noreferrer"><i class="fas fa-user-plus"></i>Register</a>
  </nav>
  <video src="https://videos.pexels.com/video-files/1851190/1851190-uhd_2560_1440_25fps.mp4" autoplay="true" muted="true" loop="true"></video>
  <div class="container">
    <div class="titleGame">
      <h1>ASTROLEDGE</h1>
    </div>
  </div>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      const audio = document.getElementById('background-audio');
      audio.volume = 0.1;

      // Retrieve the playback time from localStorage
      const savedTime = localStorage.getItem('audioTime');
      if (savedTime) {
        audio.currentTime = savedTime;
      }

      // Save the playback time periodically
      setInterval(() => {
        localStorage.setItem('audioTime', audio.currentTime);
      }, 1000);
    });
  </script>
</body>
</html>
