<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/planetLevels.css">
    <title>Select Level</title>
</head>
<body>
    <audio id="background-audio" autoplay loop>
    <source src="/tension.mp3" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
    <div class="container">
        <h2>Choose Your Level</h2>
        <div class="button-grid">
            <form method="post">
                <input type="hidden" name="level" value="1">
                <button type="submit" class="button">
                    <img src="/satelite.png" alt="Satellite">
                </button>
                <div class="button-label">Level 1</div>
            </form>
            <form method="post">
                <input type="hidden" name="level" value="2">
                <button type="submit" class="button">
                    <img src="/nave.png" alt="Spaceship">
                </button>
                <div class="button-label">Level 2</div>
            </form>
            <form method="post">
                <input type="hidden" name="level" value="3">
                <button type="submit" class="button">
                    <img src="/ovni.png" alt="UFO">
                </button>
                <div class="button-label">Level 3</div>
            </form>
        </div>
    </div>
    <form method="post">
        <input type="hidden" name="back">
        <button type="submit" class="buttonBack">Back</button>
    </form>
    
    <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      const audio = document.getElementById('background-audio');
      audio.volume = 0.1;

      // Retrieve the playback time from localStorage
      const savedTime = localStorage.getItem('audioTime');
      if (savedTime) {
        audio.currentTime = savedTime;
      }

      // Save the playback time periodically
      setInterval(() => {
        localStorage.setItem('audioTime', audio.currentTime);
      }, 1000);
    });
    </script>
</body>
</html>
