<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <style>
      body {
          margin: 0;
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: url('https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; /* Reemplaza con una URL válida */
          background-size: cover;
          font-family: Arial, sans-serif;
          color: #fff; /* Texto blanco para mejor contraste */
          position: relative;
      }

      body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3); /* Degradado oscuro */
          z-index: 0;
      }

      .container {
          width: 80%; /* Ocupa el 80% de la pantalla */
          max-width: 800px;
          padding: 40px;
          border-radius: 10px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .question-box {
          border: 0 solid #ccc;
          border-radius: 0;
          padding: 40px;
          text-align: center;
          margin-bottom: 20px;
          color: white; /* Texto negro para buena visibilidad */
          flex-grow: 1; /* Ocupa el espacio disponible */
      }

      .button-grid {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;
      }
        .button-grid form {
            flex: 1;
            display: flex;
            justify-content: center;
        }
        .button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .buttonBack {
          position: absolute;
          bottom: 10px;
          left: 10px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          background-color: #0E2087; /* Background gradient start color */
          color: white;
          border-radius: 30px;
          display: flex;
          align-items: center;
          transition: background-color 0.3s ease-in-out;
        }

        .buttonBack:hover {
            background-color: #0E2087; /* Darker shade for hover effect */
        }

      h2 {
          font-size: 48px;
          margin-top: 0;
          margin-bottom: 20px;
      }

      p {
          font-size: 24px;
          color: #fff;
      }
        table {
            width: 60%;
            border-collapse: collapse;
            border: solid;
            border-color: black;
            background-color: white;
            margin: 25px 0;
            font-size: 18px;
            text-align: center;
            color: black;
        }
        th, td {
            padding: 12px;
            border: solid;
            border-color: black;
        }
    </style>
</head>
<body>
    <div class = "container">
        <h1>Ranking</h1>
        <table border="1">
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.score %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <form method="post">
        <input type="hidden" name="back">
        <button type="submit" class="buttonBack">Back</button>
    </form>
</body>
</html>
