<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/rankingQuestions.css">
  <title>Ranking question correctly</title>
</head>
<body>
<audio id="background-audio" autoplay loop>
  <source src="/musicLobby.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<div class="container">
  <h1>Ranking correctly answered questions</h1>
  <div class="label-container">
    <label for="question-count">Select number of questions to display:</label>
    <select id="question-count">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
  </div>

  <table border="1" id="question-table">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Description</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each_with_index do |question, index| %>
      <tr>
        <td>
          <% if index == 0 %>
            <span class="gold">🥇</span>
          <% elsif index == 1 %>
            <span class="silver">🥈</span>
          <% elsif index == 2 %>
            <span class="bronze">🥉</span>
          <% else %>
            <%= index + 1 %>
          <% end %>
        </td>
        <td><%= question.description %></td>
        <td><%= question.correct_count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<form method="post">
  <input type="hidden" name="back">
  <button type="submit" class="buttonBack"><i class="fas fa-arrow-left"></i> Back</button>
</form>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const audio = document.getElementById('background-audio');
        audio.volume = 0.1;

        const savedTime = localStorage.getItem('audioTime');
        if (savedTime) {
            audio.currentTime = savedTime;
        }

        setInterval(() => {
            localStorage.setItem('audioTime', audio.currentTime);
        }, 1000);

        const questionCountSelect = document.getElementById('question-count');
        const questionTableBody = document.querySelector('#question-table tbody');
        const allQuestions = Array.from(questionTableBody.querySelectorAll('tr'));

        const updateQuestionTable = (count) => {
            questionTableBody.innerHTML = '';
            allQuestions.slice(0, count).forEach((questionRow) => {
                questionTableBody.appendChild(questionRow);
            });
        };

        questionCountSelect.addEventListener('change', (event) => {
            const selectedCount = parseInt(event.target.value, 10);
            updateQuestionTable(selectedCount);
        });

        updateQuestionTable(5);
    });
</script>
</body>
</html>
