<!DOCTYPE html>
<html>
<head>
 <style>
   /* Improved CSS */

body {
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Add this to prevent scrolling */
  background-size: cover;
}

video {
  position: fixed; /* Change from absolute to fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Add this to ensure the video covers the entire screen */
  z-index: -1;
}

#sect1 {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sect {
  width: 100%;
  min-height: 500px;
}

.container {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  background: url('https://static.vecteezy.com/system/resources/previews/011/233/445/non_2x/editable-flat-style-rocket-launching-from-planet-with-smokes-and-stars-in-outer-space-illustration-for-astronomy-or-kids-art-related-purposes-vector.jpg') center center;
  background-size: cover;
  padding: 20px;
  border: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Add this to ensure the container is on top of the video */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"], input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ADD8E6;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0000FF;
  color: white;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  display: block;
  background: url('https://image.flaticon.com/icons/png/512/103/103171.png') no-repeat;
}

</style>
</head>
   <body>
      <section id="sect1" class="sect">
         <video src="https://videos.pexels.com/video-files/1851190/1851190-uhd_2560_1440_25fps.mp4" autoplay="true" muted="true" loop="true" poster="https://carontestudio.com/img/contacto.jpg"></video>
         <div class="container">
            <h2>Registro de Usuario</h2>
            <form action="/solarSystem" method="post">
               <label for="username">Nombre de usuario</label>
               <input type="text" id="username" name="username" required>
               <label for="password">Contraseña</label>
               <input type="password" id="password" name="password" required>
               <label for="password">Repita su contraseña</label>
               <input type="password" id="password" name="password" required>
               <input type="submit" value="Iniciar sesión">
            </form>
         </div>
      </section>
   </body>
</html>
