<!-- inicio_sesion.erb -->
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registrarse</title>
</head>
<body>

<h2>Registrarse</h2>

<div href="/login" target="" rel="noopener noreferrer">
    <form action="/" METHOD="POST">  
      <label for="nombre_usuario">Nombre de Usuario:</label>
      <input type="text" id="reg_nombre_usuario" name="reg_nombre_usuario" required><br>

      <label for="contrasena">Contraseña:</label>
      <input type="password" id="reg_contrasena" name="reg_contrasena" required><br>

      <label for="contrasena">Contraseña:</label>
      <input type="password" id="reg_repetir_contrasena" name="reg_repetir_contrasena" required><br>

      <button type="submit">Registrarse</button>
    </form>
</div>

</body>
</html>