<div href="/login" target="" rel="noopener noreferrer">
    <form action="/" METHOD="POST">  
      <ol>
        <li><input type="text" placeholder="Introduce tu nombre de usuario"></li>
        <li><input type="password" placeholder="Introduce tu contraseña"></li>
        <li><input type="password" placeholder="Vuelve a introducir tu contraseña"></li>
        <li><input type="submit" value="Aceptar"></li>
      </ol>
    </form>
</div>