<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/responseQuiz.css">
  <title>Year</title>
</head>
<body>

<div class="container">
  <% iu = session[:current_questionYear] %>
  <% your_answer = session[:your_answer] %>
  <% quest = QuestionYear.find_by(id: iu) %>
  <% user = User.find(session[:user_id]) %>
  <% config = user.see_correct %>
  <% puts quest.correct_answerYear.description %>
  <% if quest && your_answer == quest.correct_answerYear.description %>
    <% actual_score = session[:score_user] %>
    <% session[:score_user] = actual_score + quest.scoreQuestion %>
    <% user.update(score: session[:score_user]) %>
    <% user.save %>
    <div class="container">
      <p>Correct answer, +<%= quest.scoreQuestion %> points, total points: <%= session[:score_user] %></p>
      <img class="happy" src="https://images.vexels.com/media/users/3/160984/isolated/preview/131b54bb87efa05876ad7ae969806757-planeta-tierra-felicidad-reir-sonrisa-plana.png" alt="Happy Image">
      <audio class="correctSound" autoplay>
        <source src="/correctAnswer.mp3" type="audio/mp3">
        Your browser does not support the audio element.
      </audio>
    </div>          
  <% else %>
    <% if config %>
      <div class="container">
        <p>Your answer is wrong, the correct answer is: <%= quest.correct_answer.description %>. <%= quest.why_is_wrong %></p>
        <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
        <audio class="wrongSound" autoplay>
          <source src="/wrongAnswer.mp3" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
    <% else %>
      <div class="container">
        <p>Your answer is wrong.</p>
        <img class="sad" src="https://images.vexels.com/media/users/3/160987/isolated/preview/c583efe4654749625deaa8104757418d-planeta-tierra-tristeza-melancolia-plana.png" alt="Sad Image">
        <audio class="wrongSound" autoplay>
          <source src="/wrongAnswer.mp3" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </div>
    <% end %>
  <% end %>
  <form method="post">
    <input type="hidden" name="nextQuestion">
    <button type="submit" class="button">Next question</button>
  </form>
</div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('audio').forEach(audio => {
      audio.volume = 0.1;
    });
  });
</script>

</body>
</html>
