<!-- inicio_sesion.erb -->
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Planetas</title>
<form action="/earthLevels">
    <button type="submit" id="Earth">Earth</button>
</form>
<form action="/marsLevels">
    <button type="submit" id="Mars">Mars</button>
</form>
<form action="/jupiterLevels">
    <button type="submit" id="Jupiter">Jupiter</button>
</form>
<form action="/neptuneLevels">
    <button type="submit" id="Neptune">Neptune</button>
</form>
<form action="/uranusLevels">
    <button type="submit" id="Uranus">Uranus</button>
</form>

<form action="/saturnLevels">
    <button type="submit" id="Saturn">Saturn</button>
</form>

<form action="/plutoLevels">
    <button type="submit" id="Pluto">Pluto</button>
</form>

<form action="/venusLevels">
    <button type="submit" id="Venus">Venus</button>
</form>

