<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/ranking.css">
    <title>Ranking</title>
</head>
<body>
<audio id="background-audio" autoplay loop>
  <source src="/musicLobby.mp3" type="audio/mp3">
  Your browser does not support the audio element.
</audio>
<div class="container">
    <h1>Ranking</h1>
    <table border="1">
        <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Score</th>
</tr>
<% @users.each_with_index do |user, index| %>
    <tr <% if user.id == session[:user_id] %>class="currentUser"<% end %>>
        <td>
            <% if index == 0 %>
                <span class="gold">🥇</span>
            <% elsif index == 1 %>
                <span class="silver">🥈</span>
            <% elsif index == 2 %>
                <span class="bronze">🥉</span>
            <% else %>
                <%= index + 1 %>
            <% end %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.score_time_trial %></td>
    </tr>
<% end %>

    </table>
</div>
<form method="post">
    <input type="hidden" name="back">
    <button type="submit" class="buttonBack"><i class="fas fa-arrow-left"></i> Back</button>
</form>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      const audio = document.getElementById('background-audio');
      audio.volume = 0.1;

      // Retrieve the playback time from localStorage
      const savedTime = localStorage.getItem('audioTime');
      if (savedTime) {
        audio.currentTime = savedTime;
      }

      // Save the playback time periodically
      setInterval(() => {
        localStorage.setItem('audioTime', audio.currentTime);
      }, 1000);
    });

</script>
</body>
</html>
