<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/timeTrial.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Trial</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="time-trial-container">
    <h1>Time Trial</h1>
    <div class="time-trial-content">
      <div class="timer">
        <i class="fas fa-stopwatch"></i>
        <span id="timer">30</span>
      </div>
      <div class="trial-info">
      </div>
      <button id="start-button">Iniciar</button>
    </div>
  </div>
</body>
</html>
